<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ajo ng &bullet; Save your Money</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/materialize.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <center>
        <img class="responsive-img" style="width: 250px;" src="">

        <!-- Remember to add some sorta logo using canva or something here -->
        <div class="section"></div>

        <h5 class="indigo-text">Enter your Ajo code or create one... Easy peezy <!--Add wink icon here--></h5>
        <div class="section"></div>

        <div class="container">
            <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="input_text" type="text" data-length="4" maxlength="4" size="4" placeholder="Enter Ajo code">
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
                                <label for="textarea2">Textarea</label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <a href="#!">Create account</a>
    </center>


    <script>
    </script>
</body>

</html>